html,body,div,p,a,i,h1,h2,h3,h4,h5,span,em,section,ul,li {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  font-size: 0.24rem;height: 100%;width: 100%;color: #2c3e50;
}
h1,h2,h3,h4,h5,em,i{
  font-style: normal;font-weight: normal;
}
li{
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;font-size: 0.24rem;color: #2c3e50;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.pt-header{
  padding-top: 0.9rem;
}
